.sideNavbarContainer {
    width: var(--sidebar-width);
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: hsl(0, 0%, 95%);
    box-shadow: 2px 0 5px hsla(0, 0%, 50%, 0.4);
    z-index: 999;
}

.sideNavbarMenuWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: calc(var(--body-font-size) * 0.9);
    list-style: none;
    white-space: nowrap;
}

.sideNavbarMenuWrapper li {
    width: 100%;
}

.sideNavbarMenuItemActive,
.sideNavbarMenuItem {
    width: 100%;
    height: 100%;
    padding: 1vh 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--header-font-family);
    font-weight: 600;
    text-align: right;
    column-gap: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.1s ease;
}

.sideNavbarMenuItem {
    background: none;
}

.sideNavbarMenuItemActive,
.sideNavbarMenuItem:hover {
    background: hsl(0, 0%, 85%);
}

.sideNavbarMenuItemIcon {
    color: #444444;
}
.sideNavbarMenuItemText {
    font-weight: 400;
}

.sideNavbarMenuItemTitle,
.sideNavbarMenuItemText {
    color: #444444;
    letter-spacing: -0.5px;
}

.sideNavbarMenuItemIcon {
    font-size: var(--body-font-size);
}

.sideNavbarMenuItemIcon,
.sideNavbarMenuItemTitle,
.sideNavbarMenuItemText {
    transition: 0.1s ease-out;
}

.sideNavbarMenuItem:hover .sideNavbarMenuItemIcon,
.sideNavbarMenuItem:hover .sideNavbarMenuItemIcon,
.sideNavbarMenuItem:hover .sideNavbarMenuItemText {
    color: #242424;
}

.sideNavbarMenuItemBtn {
    width: 65%;
    padding: 7px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font-family);
    font-size: var(--body-font-size);
    font-weight: 600;
    color: #555555;
    border: 1px solid #555555;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
    transition: 0.05s ease-out;
}

.sideNavbarMenuItemBtn:hover {
    border: 1px solid #242424;
    background: #242424;
    color: white;
}
