.topNavbarContainer {
    width: 100%;
    height: var(--topbar-height);
    padding: 1vh 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: hsl(0, 0%, 95%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 2px 5px hsla(0, 0%, 50%, 0.4);
    gap: 30px;
    z-index: 9999;
}
.topNavbarLogoWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2px;
    font-size: 1.7rem;
    white-space: nowrap;
    transition: 0.1s ease-out;
}
.topNavbarLogoWrapper:hover .topNavbarLogoIcon,
.topNavbarLogoWrapper:hover .topNavbarLogoText {
    color: hsl(220, 70%, 55%);
}
.topNavbarLogoIcon {
    margin-top: -2px;
    height: 100%;
    color: #444444;
    transition: 0.1s ease-out;
}
.topNavbarLogoText {
    font-family: var(--header-font-family);
    font-weight: 900;
    color: hsl(225, 70%, 45%);
    text-transform: capitalize;
    letter-spacing: -1px;
    word-spacing: 2px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.topNavbarMenuWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    column-gap: calc(20px + 2vmin);
    list-style: none;
    white-space: nowrap;
}
.topNavbarMenuItem {
    width: 100%;
    height: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font-family);
    font-weight: 600;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
}

.topNavbarMenuItemIcon {
    color: #444444;
}
.topNavbarMenuItemText {
    color: #444444;
    letter-spacing: -0.5px;
}

.topNavbarLogoIcon,
.topNavbarLogoText,
.topNavbarMenuItemIcon,
.topNavbarMenuItemText {
    transition: 0.1s ease-out;
}

.topNavbarMenuItem:hover .topNavbarMenuItemIcon,
.topNavbarMenuItem:hover .topNavbarMenuItemText {
    color: #242424;
}

.topNavbarMenuItemBtn {
    width: 100%;
    min-width: 90px;
    height: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--header-font-family);
    font-size: 1rem;
    font-weight: 600;
    color: #555555;
    border: 1px solid #555555;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
    transition: 0.05s ease-out;
}

.topNavbarMenuItemBtn:hover {
    border: 1px solid #242424;
    background: #242424;
    color: white;
}
