.topNavbarContainer {
    width: 100%;
    padding: 1vh 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    /* background: linear-gradient(to right, hsl(220, 70%, 30%), hsl(190, 80%, 45%)); */
    border-bottom: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 3px 5px hsla(0, 0%, 10%, 0.2);
    gap: 30px;
}
.topNavbarLogoWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    font-size: 1rem;
    white-space: nowrap;
}
.topNavbarLogoWrapper:hover .topNavbarLogoIcon,
.topNavbarLogoWrapper:hover .topNavbarLogoText {
    color: hsl(0, 0%, 0%);
}
.topNavbarLogoIcon {
    margin-top: -2px;
    height: 100%;
    color: #444444;
}
.topNavbarLogoText {
    font-family: var(--header-font-family);
    font-weight: 800;
    color: #444444;
    text-transform: capitalize;
    letter-spacing: -0.75px;
    word-spacing: 2px;
    white-space: nowrap;
    cursor: pointer;
}
.topNavbarMenuWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    column-gap: 30px;
    list-style: none;
    white-space: nowrap;
}
.topNavbarMenuItem {
    width: 100%;
    min-width: 90px;
    height: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--header-font-family);
    font-weight: 600;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
}

.topNavbarMenuItemIcon {
    color: #444444;
}
.topNavbarMenuItemText {
    color: #444444;
    letter-spacing: -0.5px;
}

.topNavbarLogoIcon,
.topNavbarLogoText,
.topNavbarMenuItemIcon,
.topNavbarMenuItemText {
    transition: 0.1s ease-out;
}

.topNavbarMenuItem:hover .topNavbarMenuItemIcon,
.topNavbarMenuItem:hover .topNavbarMenuItemText {
    color: black;
}

.topNavbarMenuItemBtn {
    width: 100%;
    min-width: 90px;
    height: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--header-font-family);
    font-size: 1rem;
    font-weight: 600;
    color: #444444;
    border: 1px solid #444444;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
    transition: 0.05s ease-out;
}

.topNavbarMenuItemBtn:hover {
    border: 1px solid black;
    background: black;
    color: white;
}
