.dashboardPageContainer {
    width: 100%;
    margin-left: var(--sidebar-width);
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--header-font-family);
}

.dashboardPageTitle {
    margin-bottom: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--header-font-family);
    font-size: var(--body-font-size);
    font-weight: 900;
    text-align: center;
    column-gap: 5px;
}
