/* FONTS ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

/* VARIABLES ====================================== */
:root {
    --header-font-family: 'Poppins', sans-serif;
    --header-font-size: 24px;
    --body-font-family: 'Source Sans Pro', sans-serif;
    --body-font-size: 16px;
    --container-padding: 4vh 10%;
    --sidebar-width: calc(150px + 4%);
    --topbar-height: calc(60px + 1vh);
}

/* GLOBAL STYLES ====================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
}

body {
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: hsl(200, 10%, 50%);
}
