/* FONTS ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

/* VARIABLES ====================================== */
:root {
    --header-font-family: 'Poppins', sans-serif;
    --header-font-size: 32px;
    --body-font-family: 'Inter', sans-serif;
    --body-font-size: 16px;
}

/* GLOBAL STYLES ====================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: hsl(200, 10%, 50%);
}
