.calendarPageContainer {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    column-gap: 2%;
    user-select: none;
}

.eventsContainer {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    padding: 1vh 0.5%;
    position: relative;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    background: hsl(0, 0%, 90%);
}
.eventsTitle {
    width: 100%;
    margin-bottom: 0.5vh;
    font-family: var(--header-font-family);
    font-size: var(--body-font-size);
    font-weight: 800;
}
.eventsList {
    width: 100%;
    list-style: inside square;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5vh;
}
.eventsListItem {
    width: 100%;
    padding: 0.75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.9);
    font-weight: 400;
    color: white;
    background: hsl(210, 10%, 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.03s ease;
}
.eventsListItem:hover {
    background: hsl(210, 60%, 60%);
}
.eventsListItemTitle {
    width: 100%;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.9);
    font-weight: 500;
    text-transform: uppercase;
}
.eventsListItemText {
    width: 100%;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.8);
    font-weight: 300;
    text-transform: capitalize;
}

.calendarContainer {
    height: 100%;
    min-height: 75vh;
    display: flex;
    position: relative;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.9);
}

/* CALENDAR FORM -------------------------------*/
.calendarFormOpen {
    width: 100%;
    opacity: 1;
    transition: 0.6s ease;
}
.calendarFormClosed {
    width: 0%;
    opacity: 0;
    transition: 0.6s ease;
}

.eventFormContainer {
    width: calc(200px + 5vw);
    margin-bottom: 6vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 5px;
}

.eventFormTitle {
    width: 100%;
    font-family: var(--header-font-family);
    font-size: calc(var(--header-font-size) * 0.8);
    font-weight: 700;
    text-transform: capitalize;
}

.eventFormWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
}

.eventFormInputRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.eventFormInputWrapper,
.eventFormInputCheckboxWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.eventFormInputWrapper {
    flex-direction: column;
    align-items: flex-start;
}

.eventFormInputCheckboxWrapper {
    flex-direction: row;
    align-items: center;
}

.eventFormInputLabel {
    padding: 0.1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.8);
    white-space: nowrap;
}
.eventFormInput {
    width: 100%;
}
.eventFormInput,
.eventFormInputCheckbox {
    padding: 0.5vh 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
    font-size: calc(var(--body-font-size) * 0.85);
    background: hsl(0, 0%, 92%);
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 2px;
}
.eventFormInput::placeholder {
    color: hsl(0, 0%, 60%);
}

.eventFormBtnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}

.eventFormBtn {
    width: 100%;
    min-width: 100px;
    height: 100%;
    padding: 2vh 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font-family);
    font-weight: 600;
    color: white;
    background: hsl(220, 70%, 10%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    column-gap: 5px;
    white-space: nowrap;
    transition: 0.05s ease;
}

.eventFormBtn:hover {
    background: hsl(210, 70%, 40%);
}

.eventFormBtn:active {
    background: hsl(210, 90%, 75%);
    transition: 0.02s ease;
}

.delete {
    background: hsl(0, 95%, 30%);
}
.delete:hover {
    background: hsl(0, 90%, 40%);
    transition: 0.02s ease;
}
